.dropdown {
  select {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.login {
  input {
    display: block;
    border: none;
    border-bottom: 1px solid #000;
    margin: 2rem 0;
    padding-top: 1rem;
    background-color: $mmp-field;
  }
}
